*,
*: after,
*: before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bolder;
}

.column-paragraph {
  text-align: left;
}

div {
  width: 100%;
  border: 3px solid white;
  text-align: center;
  /* height: auto; */
}
header.banner {
  /* width: 100% 100%; */
  /* height: 65px; */
  background-color: #75e2e6;
  border-bottom: 3px solid #048eaa;
  margin: -25px;
  position: relative;
  z-index: 1;

}

nav.nav-bar {
  display: inline;
  float: right;
  margin-right: 5%;
  /* border: 3px solid red; */
}

li {
  display: inline;
  font-size: 12px;
  padding: 5px;
  /* border: 3px solid red; */
}

#dog-icon {
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    /* border: 3px solid red; */
    position: relative;
}

#top-half {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/park.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-size: 100% 91%; */
}

h1 {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
}

#some-dogs {
  font-weight: bold;
}

img.dog-photo {
  display: block;
  margin: 0 auto;
}

form {
  padding: 30px;
  /* border: 3px solid red; */
  display: inline-block;
}

#form-name {
  color: #ffffff;
  text-align: left;
  /* border: 3px solid red; */
}

#dog-name-box {
  margin-bottom: 15px;
  height: 30px;
  border: none;
}

#name-this-dog-button {
width: 369px;
height: 33px;
color: #000000;
background-color: #75e2e6;
border: none;
font-size: 14px;
margin: 8px 6px 6px 0px;
}

.dog-photo {
  border: 5px solid #048eaa;
  border-radius: 200px;
  width: 200px;
  height: 200px;
}

#bottom-half {
  .clearfix:after
    content: ' ';
    display: table;
    clear: both;
    float: none;
    /* width: 100%; */
    /* border: 3px solid red; */
}

.columns {
  width: 32%;
  /* border: 3px solid red; */
  height: 600px;
}

h2 {
  text-align: center;
}

.column-paragraph {
  color: #000000
  text-align: left;
}

#left-column {
  float: left;
  display: inline-block;
}

#middle-column {
  display: inline-block;
  margin: 0px auto;
}

#right-column {
  float: right;
  display: inline-block;
}

.bottom-buttons {
  width: 196px;
  height: 33px;
  color: #000000;
  color: #ffffff;
  background-color: #048eaa;
  border: none;
}

#left-bottom-button {
  float: left;
  margin-left: 3%;
}

#middle-bottom-button {
  margin: 0 auto;
}

#right-bottom-button {
  margin-right: 3%;
  float: right;
}

footer {
  background-color: #048eaa;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  font-size: 15px;
}

@media only screen and (min-width : 375px) and (max-device-width : 667px) {

#top-half-content {
  display: block;
  width: 100%;
}
.columns {
  display: block;
  width: 100%
  /* height: 200px; */
  }

.li {
  display: block;
  width: 100%;
}
}
